{{user-name onComplete=(action 'set_user_name' model)}}
<div class="ui centered grid">
  <div class="six wide column">
    <div class="ui segments">
      <div class="ui teal inverted center aligned segment">
        <p>{{model.name}}</p>
      </div>
      <div class="ui segment">
        <p>{{model.description}}</p>
 
        <div class="ui divider"></div>

        {{#each model.times as |time|}}
        <div class="ui middle aligned divided list">
          <div class="item">
            <div class="right floated content">
              <div class="ui toggle checkbox" id={{time.id}}
                onmouseup={{action 'add_person' time.id}} >
                <input type="checkbox" id="checkbox{{time.id}}" />
                <label>
                  <a class="ui pink circular label">{{time.people.length}}</a>
                </label>
              </div>
            </div>
            <i class="calendar icon"></i>
            <div class="content">
              {{time.event_time}}
            </div>
          </div>

          {{#each time.people as |person|}}
            <a class="ui basic label">{{person.name}}</a>
          {{/each}}
        </div>
        <div class="ui divider"></div>
        {{/each}}

      </div>
    </div>
  </div>
</div>
